<!DOCTYPE html>
{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row" style="display: flex; justify-content: space-between; margin: 0;">
    <h4 style="color: rgb(0, 68, 171)">
      <a href="{{ url_for('student_info', id=cadet.id )}}"
        >{{ cadet.first_name }} {{ cadet.middle_name }} {{ cadet.last_name }}</a
      >
      <span>
        <a
          type="btn"
          style="font-size: small; float: right"
          href="{{ url_for('add_academic_score', id=cadet.id) }}"
          class="card-link"
          >See Academic results</a
        ><br>
        <a
          type="btn"
          style="font-size: small; float: right"
          href="{{ url_for('add_medical_record', id=cadet.id) }}"
          class="card-link"
          >See Medical Records</a
        >
      </span>
    </h4>

    <p class="card-subtitle mb-2 text-body-secondary">
      {{ cadet.bn.bn.capitalize() }} ({{ cadet.service.service_type.upper() }})
    </p>
    <p class="card-text">
      Department |
      <b style="color: rgb(0, 68, 171)"
        >{{ cadet.department.department_name.title() }}</b
      >
    </p>
    <p>
      First Term Total Score:
      <b style="color: #f90b31">{{ total_first_term_score }}</b> | Second Term
      Total Score: <b style="color: #f90b31">{{ total_second_term_score }} </b>
    </p>
  </div>

  <div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <div style="text-align: center; margin: 0; padding: 1rem;" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <li>{{ message }}</li>
      </div> 
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div class="col">
      <!-- Form for entering academic scores -->
      <form
        id="military-score-form"
        method="POST"
        action="{{ url_for('add_military_score', id=cadet.id) }}"
      >
        {{ military_score_form.csrf_token() }}
        <p>Enter Service Results:</p>
        <div style="margin: 0; padding: 0;" class="scrollable-table">
        <table class="custom-table table-sm table-hover table-borderless">
          <thead style="font-size: small">
            <tr>
              <th style="width: 5%" scope="col">Serial</th>
              <th style="width: 20%" scope="col">Subject</th>
              <th style="width: 5%" scope="col">First Term</th>
              <th style="width: 5%" scope="col">Second Term</th>
              <th style="width: 10%" scope="col">Service Year</th>
              <th style="width: 10%" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody
            style="text-align: center; font-size: small"
            id="cadet-table-body"
          >
            <!-- Initial row for data entry -->
            <tr class="active-row">
              <th style="text-align: center" scope="row">1</th>
              <td data-cell="Subject" style="text-align: center">
                {{ military_score_form.subject(class="form-control",
                placeholder="Subject") }}
              </td>
              <td data-cell="First Term" class="head-center">
                {{ military_score_form.first_term_score(class="form-control",
                placeholder="0.0", maxlength="5") }}
              </td>
              <td data-cell="Second Term" class="head-center">
                {{ military_score_form.second_term_score(class="form-control",
                placeholder="0.0", maxlength="5") }}
              </td>
              <td data-cell="Service Year" class="head-center">
                {{ military_score_form.service_year(class="form-control",
                placeholder="Service Year") }}
              </td>
              <td style="padding: 5px">
                <div class="form-group" style="text-align: center">
                  {{ military_score_form.submit( class="btn btn-primary btn-sm")
                  }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="col">
      <p>Service Results:</p>
      <table class="custom-table table-sm table-hover table-borderless">
        <thead style="text-align: center">
          <tr>
            <th style="width: 5%" scope="col">Serial</th>
            <th style="width: 40%" scope="col">Subject</th>
            <th style="width: 5%" scope="col">First Term</th>
            <th style="width: 5%" scope="col">Second Term</th>
            <th style="width: 10%" scope="col">Service Year</th>
            <th style="width: 1%" scope="col"></th>
          </tr>
        </thead>
        <tbody style="font-size: small" id="cadet-table-body">
          {% for row in rows %}
          <!-- Initial row for data entry -->
          <tr class="active-row">
            <th class="card-heading-text" scope="row">
              {{ (page - 1) * per_page + loop.index }}
            </th>
            <td data-cell="subject">{{ row.service_subject.subject_title.title() }}</td>
            <td data-cell="first term" class="head-center">{{ row.first_term_score }}</td>
            <td data-cell="second term" class="head-center">{{row.second_term_score }}</td>
            <td data-cell="service" class="head-center">{{row.service_year.title() }}</td>
            <td data-cell="Remove" class="head-center">
              <a
                href="#"
                onclick="confirmDelete('{{ url_for('remove_service_subject', id=row.id, cadet_id=row.cadet_id) }}')"
                ><i style="color: #f90b31" class="fas fa-minus-circle fa-md"></i
              ></a>
            </td>
          </tr>

          {% endfor %}
          <!-- Additional rows will be dynamically added here -->
        </tbody>
      </table>
    </div>
    </div>
  </div>

  <div class="row"></div>
</div>

<!-- JavaScript to handle dynamic row addition and form submission -->
<script>
  function confirmDelete(url) {
    if (confirm("Are you sure you want to delete this course?")) {
      window.location.href = url;
    }
  }
</script>

{% endblock %}
