<!DOCTYPE html>
<nav
  class="navbar bg-light navbar-expand-lg bg-body-primary"
  data-bs-theme="light"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img
        id="nda-logo"
        src="{{ url_for('static', filename='images/nda_logo.png') }}"
        alt="nda-logo"
    /></a>
    <button
      class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul style="font-size: smaller" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{{ url_for('home') }}"
            >Home</a
          >
        </li>

        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Patients
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                aria-current="page"
                href="{{ url_for('nurse_dashboard') }}"
                >Admit patient</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="{{ url_for('admitted_cadets') }}"
                >Admitted patients</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="{{ url_for('front_desk_dashboard') }}"
                >Check-In patient</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('pharmacist_dashboard') }}"
                >Pharmacy</a
              >
            </li>
          </ul>
        </li>

        <!-- {% if session.get('show_button') %} -->
        <li class="nav-item"></li>
        <!-- {% endif %} -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Regular Course
          </a>

          <ul class="dropdown-menu">
            {% for key, value in course_dict.items() %}
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('select_course', id=key) }}"
              >
                {{ value[0] }} RC</a
              >
            </li>
            {% endfor %}
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dashboards
          </a>

          <ul class="dropdown-menu">
            {% for key, value in role_dict.items() %}
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for(value + '_dashboard') }}"
              >
                {{ value.title() }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </li>

        <li class="nav-item">
          <a
            style="color: #f90b3f; font-weight: 600;"
            class="nav-link active"
            aria-current="page"
            href="{{ url_for('logout') }}"
            onclick="return confirmLogout()"
            >Logout</a
          >
        </li>
        {% else%}
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{{ url_for('register_staff') }}"
            >Register</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{{ url_for('login') }}"
            >Login</a
          >
        </li>
        {% endif %}
      </ul>

      <form
        class="d-flex"
        name="searchForm"
        method="POST"
        action="{{ url_for('search') }}"
        role="search"
      >
        {{ search_form.csrf_token }} {{ search_form.searched(id="searched",
        class="form-control input-sm", type="search", placeholder="Search",
        aria_label="Search", oninput="autocompleteSearch()") }}
        <button
          class="btn btn-outline-primary btn-sm"
          style="
            border-radius: 30%;
            font-size: 0.6rem;
            margin-left: 20px;
            --bs-btn-padding-y: 0.25rem;
            --bs-btn-padding-x: 0.5rem;
            --bs-btn-font-size: 0.75rem;
          "
        >
          <i class="bi bi-search"></i>
        </button>
      </form>

      {% if current_user.is_authenticated %}

      <div class="div">
        <li
          style="
            list-style-type: none;
            padding: 10px;
            font-size: small;
            margin-left: 20px;
          "
          class="nav-item"
        >
          {% if current_user.role == 'doctor' %}
          <a href="{{ url_for('doctor_dashboard') }}"
            >Welcome, {{ current_user.firstname.title() }} ({{ current_user.role.title() }})</a
          >
          {% elif current_user.role == 'pharmacist' %}
          <a href="{{ url_for('pharmacist_dashboard') }}"
            >Welcome, {{ current_user.firstname.title() }} ({{ current_user.role.title() }})</a
          >
          {% elif current_user.role == 'front_desk' %}
          <a href="{{ url_for('front_desk_dashboard') }}"
            >Welcome, {{ current_user.firstname.title() }} ({{ current_user.role.title() }})</a
          >
          {% elif current_user.role == 'cadets_brigade' %}
          <a href="{{ url_for('cadets_brigade_dashboard') }}"
            >Welcome, {{ current_user.firstname.title() }} ({{ current_user.role.title() }})</a
          >
          {% elif current_user.role == 'nurse' %}
          <a href="{{ url_for('nurse_dashboard') }}"
            >Welcome, {{ current_user.firstname.title() }} ({{ current_user.role.title() }})</a
          >
          {% endif %}
        </li>
      </div>
      {% endif %}
    </div>
  </div>
</nav>
