<!DOCTYPE html>
{% extends "base.html" %} {% block content %}

<div
  style="font-size: smaller; height: 1100px"
  class="container-fluid text-center"
>
  <!-- <button class="btn btn-primary" id="openExcelBtn">Add Excel</button> -->

  <div
    class="row form-container"
    style="text-align: left; width: 60%; padding: 20px; margin: auto"
  >
    <h4 style="color: rgb(0, 68, 171); text-align: center">Staff Registration Form</h4>
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <div style="text-align: center; margin: 0; padding: 1rem;" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <li>{{ message }}</li>
      </div>  
      {% endfor %}
    </ul>
    {% endif %} 
    {% endwith %}
    <form method="POST" action="{{ url_for('register_staff') }}">
      {{ staff_register_form.csrf_token() }}

      <div class="row">
        <div class="col">
          {{ staff_register_form.firstname(class="form-control", placeholder="first name") }} {% if staff_register_form.firstname.errors %}
          <ul class="errors">
            {% for error in staff_register_form.firstname.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <br />
        </div>

        <div class="col">
            {{ staff_register_form.middlename(class="form-control",
            placeholder="middle name") }} {% if staff_register_form.middlename.errors
            %}
            <ul class="errors">
              {% for error in staff_register_form.middlename.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            <br />
          </div>

        <div class="col">
          {{ staff_register_form.lastname(class="form-control", placeholder="last name") }} {% if staff_register_form.lastname.errors %}
          <ul class="errors">
            {% for error in staff_register_form.lastname.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <br />
        </div>

      </div>

    <div class="row">
      <div class="col">
        {{ staff_register_form.email(class="form-control", placeholder="email") }} {% if staff_register_form.email.errors %}
        <ul class="errors">
          {% for error in staff_register_form.email.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <br />
      </div>

      <div class="col">
        {{ staff_register_form.password(class="form-control", placeholder="password") }} {% if staff_register_form.password.errors %}
        <ul class="errors">
          {% for error in staff_register_form.password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <br />
      </div>
      
      <div class="col">
        {{ staff_register_form.confirm_password(class="form-control", placeholder="confirm password") }} {% if staff_register_form.confirm_password.errors %}
        <ul class="errors">
          {% for error in staff_register_form.confirm_password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <br />
      </div>
    </div>

      
    <div class="row">
      <div class="col">
        {{ staff_register_form.address(class="form-control", placeholder="address") }} {% if staff_register_form.address.errors %}
        <ul class="errors">
          {% for error in staff_register_form.address.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <br />
      </div>

      <div class="col">
        {{ staff_register_form.phone(class="form-control", placeholder="phone number") }} {% if staff_register_form.phone.errors %}
        <ul class="errors">
          {% for error in staff_register_form.phone.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <br />
      </div>
    </div> 
    
    <div class="row">
      <div class="col">
        {{ staff_register_form.gender.label(class="form-label") }} <br>
        {% for subfield in staff_register_form.gender %} {{ subfield }} {{
        subfield.label }}
        <br />
        {% endfor %}
        <br>
      </div>

      <div class="col">
        {{ staff_register_form.role.label(class="form-label") }} <br>
        {{ staff_register_form.role(class="form-control", placeholder="role") }} 
        {% if staff_register_form.role.errors %}
        <ul class="errors">
          {% for error in staff_register_form.role.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="col">
        {{ staff_register_form.status.label(class="form-label") }} <br>
        {{ staff_register_form.status(class="form-control", placeholder="status") }} 
        {% if staff_register_form.status.errors %}
        <ul class="errors">
          {% for error in staff_register_form.status.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="col">
        {{ staff_register_form.appointment.label(class="form-label") }} <br>
        {{ staff_register_form.appointment(class="form-control", placeholder="appointment") }} {% if staff_register_form.appointment.errors %}
        <ul class="errors">
          {% for error in staff_register_form.appointment.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>

    <div class="row">
      

      
    </div>

    <div class="row">
      <div class="col">
        {{ staff_register_form.date_of_birth.label(class="form-label") }} {{
        staff_register_form.date_of_birth(class="form-control", placeholder="Date of Birth", type='date') }} {% if staff_register_form.date_of_birth.errors %}
        <ul class="errors">
          {% for error in staff_register_form.date_of_birth.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <br />
      </div>
      <div class="col">
        {{ staff_register_form.date_tos.label(class="form-label") }} {{
        staff_register_form.date_tos(class="form-control", placeholder="Date taken on strenght",
        type='date') }} {% if staff_register_form.date_tos.errors %}
        <ul class="errors">
          {% for error in staff_register_form.date_tos.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <br />
      </div>
      
    </div>

    <br />
    <div class="form-group" style="text-align: center">
      {{ staff_register_form.submit( class="btn btn-primary") }}
    </div>
    </div>
        
      </div>

        
    </form>
  </div>
</div>

{% endblock %}
